# ─── Python artifacts ───
__pycache__/
*.pyc

# virtual environments
venv/
.venv/

# Processed Data 
*.arrow

# ─── OS / editor ───
.DS_Store


# ─── Large data/model dirs ───
original/
hf_model/
processed_dataset/
output/
llama-finetune/Data/Mark_Twain/model_output/
llama-finetune/Data/Charles_Dickens/model_output/


# ─── Gutenberg text dumps ───
/llama-finetune/Data/Gutenberg Data/Books_txt_Files/
