# Ignore Python virtual environments
venv/
.venv/

# (Optional) Ignore common OS or Python build files
__pycache__/
*.pyc
.DS_Store

# Ignore all files in the Gutenberg Data Books_txt_Files folder
Data/Gutenberg\ Data/Books_txt_Files/
Data/Charles_Dickens/Log Files/model_output
Data/Mark_Twain/Log Files/model_output

# Ignore Model checkpoints / large outputs
output/
Data/Charles_Dickens/Log Files/model_output/                                                                                                1,1           Top

# Ignore model outputs
/pfs/work9/workspace/scratch/ma_fisommer-Dataset/llama-finetune/Data/Mark_Twain/Log Files/model_output_dev
/pfs/work9/workspace/scratch/ma_fisommer-Dataset/llama-finetune/Data/Charles_Dickens/Log Files/model_output_dev
Data/Mark_Twain/Log Files/model_output_dev/
Data/Charles_Dickens/Log Files/model_output_dev
