# Ignore Python virtual environments
venv/
.venv/

# (Optional) Ignore common OS or Python build files
__pycache__/
*.pyc
.DS_Store

# Ignore all files in the Gutenberg Data Books_txt_Files folder
Data/Gutenberg\ Data/Books_txt_Files/
